<%= form_for(@order) do |f| %>
<% if @order.errors.any? %>
<div id="error_explanation">
	<h2><%= raw t('errors.template.header', count: @order.errors.count,
	model: t('activerecord.models.order')) %>.</h2>
	<p>
		<%= t('errors.template.body') %>
	</p>

	<ul>
		<% @order.errors.full_messages.each do |msg| %>
		<li>
			<%= raw msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="control-group">
	<%= f.label :name, t('.name'), class: "control-label" %>
	<div class="controls">
		<%= f.text_field :name, class: "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :address, t('.address_html'), class: "control-label" %>
	<div class="controls">
		<%= f.text_area :address, rows: 6, class: "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :email, t('.email'), class: "control-label" %>
	<div class="controls">
		<%= f.text_field :email, class: "input-xlarge" %>
	</div>
</div>
<div class="control-group">
	<%= f.label :pay_type, t('.pay_type'), class: "control-label" %>
	<div class="controls">
		<%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: t('.pay_prompt_html') %>
	</div>
</div>
<div class="actions form-actions">
	<%= f.submit t('.submit'), class: "btn btn-primary" %>
</div>
<% end %>
